name: feature-pipeline
on: [push]
permissions:
  contents: read
  statuses: write
jobs:
  feature-pipeline:
    uses: daws-86s/workflows/.github/workflows/feature-nodejs-pipeline.yaml@main
    with:
      project: roboshop
      component: catalogue
      environment: dev
    secrets: inherit